body {
    background-color: rgb(82, 130, 149);  
    overflow: hidden;
}
.sidebar {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 200px;
    height: 100%;
    background-color: rgb(28, 103, 133);
    box-shadow: 0px 15px 15px rgba(0,0,0,0.3);
    padding-top: 80px;
}
.songButton {
    width: 190px;
    height: 30px;
    margin-bottom: 2.5px;
    margin-top: 2.5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(62, 137, 199);
    border: none;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
}
.songButton:hover {
    background-color: rgb(110, 169, 214)
}
.title {
    position: absolute;
    top: 0%;
    left: 0%;
    text-align: center;
    background-color: rgb(62, 125, 150);
    width: 100%;
    height: 75px;
    font-size: 28;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.3);
}
.playButton {
    position: absolute;
    left: calc(50% + 75px);
    bottom: 15%;
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: aqua;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.3);
    border-radius: 20px 20px 20px 20px;
}
.playButton:hover {
    background-color:aquamarine;
}
.progressBar {
    -webkit-appearance: none;
    height: 5px;
    position:absolute;
    width: 50%;
    bottom: 10%;
    left: calc(50% + 100px);
    transform: translateX(-50%);
    cursor: pointer;
    border-radius: 10px;
    background: linear-gradient(90deg, rgb(214,214,214) 60%, rgb(214,214,214) 60%);
}
.progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 4px;
}
.progressBar:hover {
       
}
.progressBar.hovered::-webkit-slider-thumb {
    background-color: rgb(167, 105, 181);
    cursor: pointer;
}
.Audio {
    
}
.forward {
    border: none;
    height: 50px;
    width: 50px;
    position: absolute;
    cursor: pointer;
    background-color: rgb(66, 158, 245);
    box-shadow: 0px 15px 15px rgba(0,0,0,0.3);
    left: calc(50% + 150px);
    bottom: 15%;
    border-radius: 20px 20px 20px 20px;
    color: black;
    text-shadow: black;
}
.backward {
    border: none;
    height: 50px;
    width: 50px;
    position: absolute;
    cursor: pointer;
    background-color: rgb(66, 158, 245);
    box-shadow: 0px 15px 15px rgba(0,0,0,0.3);
    left: calc(50%);
    bottom: 15%;
    border-radius: 20px 20px 20px 20px;
}
.songName {
    
    position: absolute;
    bottom: 20%;
    left: 50%;
    margin-left: 100px;
    transform: translateX(-50%);
    font-size: 28;
    
}
.container {
    position: absolute;
    bottom: 35%;
    left: 50%;
    margin-left: 100px;
    transform: translateX(-50%);
    background-color: white;
    height: 400px;
    width: 400px;
}
img {
    height: 100%;
    width: 100%;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.3);
}